HSQFGID FID
HSQFGSN FSN
HOBITSEC SHS
HOBITSS SHSS
RO_MODE ROMODE
HCFTID H013D
HPLTID H013E
HWLTID H013F
HSHIEXP H0059
HCAMID H014A
PCKT_V HVN00F
HCSUM HCSUM1BD HCSUM1DB
ISPTCSEC HTCS1BD HTCS1DB
ISPTCSS HTCSS1BD HTCSS1DB
DATEORIG DATE
XTRINTA NUMPKTS
XTRINTB MISSVALS
